@{
    ViewBag.Title = "Create Product";
    var grade = ViewBag.Grade as Grade;
}
@model Student;
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" asp-route-id="@grade.GradeId" method="post" class="my-4">
    <div class="card">
        <div class="card-header" style="background-color: #FED770">
            <h1 style="color:#076A67">@ViewBag.Title</h1>
        </div>
        <div class="card-body">
            <div class="form">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="StudentName"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="StudentName" class="form-control" />
                        <span asp-validation-for="StudentName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="StudentEmail"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="StudentEmail" class="form-control" />
                        <span asp-validation-for="StudentEmail"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="StudentGender"></label>
                    </div>
                    <div class="col-sm-9">
                        <input type="radio" value="@true" asp-for="StudentGender">
                        <label class="mr-3">Female</label>
                        <input type="radio" value="@false" asp-for="StudentGender">
                        <label>Male</label>
                        <div>
                            <span asp-validation-for="StudentDob"></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="StudentDob"></label>
                    </div>
                    <div class="col-sm-9">
                        <input type="date" asp-for="StudentDob" class="form-control" />
                        <span asp-validation-for="StudentDob"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light">
            <button type="submit" class="btn btn-primary" onclick="save">Create</button>
            <a asp-controller="Home" asp-action="StudentByGrade" asp-route-id="@grade.GradeId" class="btn btn-warning mx-2">Back</a>
        </div>
    </div>
</form>