@model HomeDetailViewModel;
@{
    ViewBag.Title = "Details";
}

@*<div class="container text-center col-6">
        <div class="card my-4">
            <div class="card-header bg-secondary">
                <h3 class="card-title">@Model.MyProperty.ProductName</h3>
            </div>
            <div class="card card-body">
                <img src="@Url.Content(Model.MyProperty.ProductAvatar)" class="card-img rounded-circle" alt="@Model.MyProperty.ProductAvatar" />
                <br class="card-text">Price: @Model.MyProperty.ProductPrice
                <br class="card-text">Description: @Model.MyProperty.FullDescription
            </div>
            <div class="card-footer">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.MyProperty.ProductId" class="btn btn-warning">Edit</a>
                <a asp-controller="Home" asp-action="Remove" asp-route-id="@Model.MyProperty.ProductId" onclick="return confirm('Are you sure to remove this employee: @Model.MyProperty.ProductName ')" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>*@
<div class="card my-2">
    <div class="card-header" style="background-color: #076A67 ">
        <h4 style="color:yellow">@Model.book.BookName</h4>
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-3">
                        <h4>Category: </h4>
                    </div>
                    <div class="col-9">
                        <h5>@Model.book.Category.CategoryName</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <h4>Year: </h4>
                    </div>
                    <div class="col-9">
                        <h5>@Model.book.Year.ToString("dd/MM/yyyy")</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <h4>Author: </h4>
                    </div>
                    <div class="col-9">
                        <h5>@Model.book.BookAuthor</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <h4>Short Description: </h4>
                    </div>
                    <div class="col-9">
                        <h5>@Model.book.ShortDesCription</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <h4>Qlt: </h4>
                    </div>
                    <div class="col-9">
                        <h5>@Model.book.Qlt</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-subtitle my-auto">
            <a asp-controller="Home" asp-action="StudentByGrade" asp-route-id="@Model.book.CategoryId" class="btn btn-warning mx-2">Back</a>
        </div>
    </div>
</div>