@model HomeEditViewModel
@{
    ViewBag.Title = "Edit Book";
    var category = ViewBag.Category as List<Category>;
   
}
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="my-4">
    <div class="card">
        <div class="card-header" style="background-color: #FED770">
            <h1 style="color:#076A67">@ViewBag.Title</h1>
        </div>
        <div class="card-body">
            <div class="form">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="BookName"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="BookName" class="form-control" />
                        <span class="text-danger" asp-validation-for="BookName"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="BookAuthor"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="BookAuthor" class="form-control" />
                        <span class="text-danger" asp-validation-for="BookAuthor"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="ShortDesCription"></label>
                    </div>
                    <div class="col-sm-9">
                        <textarea asp-for="ShortDesCription" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="ShortDesCription"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="Qlt"></label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" asp-for="Qlt" class="form-control" />
                        <span class="text-danger" asp-validation-for="Qlt"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="Year"></label>
                    </div>
                    <div class="col-sm-9">
                        <input type="date" asp-for="Year" class="form-control" />
                        <span class="text-danger" asp-validation-for="Year"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-sm-9">
                        <select asp-for="CategoryId" class="custom-select">
                            <option value="">Select a department</option>
                            @if (category != null)
                            {
                                foreach (var item in category)
                                {
                                    <option value="@item.CategoryId" selected="@(item.CategoryId == Model.CategoryId)">@item.CategoryName</option>
                                }
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light">
            <button type="submit" class="btn btn-primary" onclick="save">Edit</button>
            <a asp-controller="Home" asp-action="StudentByGrade" asp-route-id="@Model.CategoryId" class="btn btn-warning mx-2">Back</a>
        </div>
    </div>
</form>