@model IEnumerable<Book>;
@{
    ViewBag.title = ViewBag.categories.CategoryName;
}
<hr />
<div class="container">
    <h4 class="mx-2">@ViewBag.title</h4>
    <a class="btn btn-success mx-2" asp-controller="Home" asp-action="Create" asp-route-id="@ViewBag.categories.CategoryId">Create</a>
    <a class="btn btn-warning mx-2" asp-controller="Home" asp-action="Index">Back</a>
    <table class="table table-hover mt-3" id="tbProducts">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Year</th>
                <th>Qlt</th>
                <th>Category</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                // đợi anh tí ha

                <tr>
                    <td>@book.BookName</td>
                    <td>@book.BookAuthor</td>
                    <td>@book.Year.ToString("dd/MM/yyyy")</td>
                    <td>@book.Qlt</td>
                    <td>@book.Category.CategoryName</td>
                    <td class="text-right">
                        <a title="details student" asp-controller="Home" asp-action="Details" asp-route-id="@book.BookId"><i class="fa fa-info"></i></a>
                        <a title="edit student" asp-controller="Home" asp-action="Edit" asp-route-id="@book.BookId"><i class='fa fa-edit'></i></a>
                        <a title="remove student"asp-controller="Home" asp-action="Remove" asp-route-id="@book.BookId"><i class='fa fa-trash'></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>